<div
  class="header-wrapper d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow"
>

</div>

<div class="container">
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
    </div>
  </footer>
</div>
