<div class="row">
  <div class="col-sm-12 col-md-12">

    <div class="record-search">
      <form action="" [formGroup]="formGroup" (ngSubmit)="submit(formGroup.value)">
        <div class="input-group flex-fill">
          <input type="text" class="form-control" formControlName="q" >
          <div class="input-group-append">
              <button type="submit" class="btn btn-primary" [disabled] = 'loading' data-disable-with="Searching">{{loading ? 'Searching ...' : 'Search'}}</button>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="records-list">
          <div id="records" *ngIf="!loading">

            <ul class="list-group" *ngIf="results">

                  <li class="list-group-item bg-light" *ngFor="let record of results">
          
                      <h2 class="mb-1"><a href="{{record.url}}">{{ record.company_name }}</a></h2>
                      <small>{{ record.company_number }}</small>
                      <small>
                          {{ record.address_line_1 }}
                          {{ record.address_line_2 }} 
                          {{ record.post_town }} 
                          {{ record.country  }} 
                          {{ record.post_code }}
                      </small>
                  </li>

            </ul>
          </div>
          <div *ngIf="loading">
            <app-spinner></app-spinner>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>      