/* You can add any custom style. */

a:hover {
  text-decoration: none;
}

.help-text {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.help-block {
  font-size: 0.8rem;
}

.help-block.help-block-error {
  font-size: 0.8rem;
  color: #ff0000;
}





    .record-search {
      padding-bottom: 10px;

      #search-input {
        //width: 100%;
      }

      #search-submit {
        display: inline-flex;
        //width: 100%;
      }

      
    }

    .list-group {
      li{
        margin-top:10px;
        border:none;
        :first-child{
          margin-top:0;
        }

        small{
          display:block;
        }

        a{
          color :#333;
          text-decoration:underline;
          &:hover{
            text-decoration:none;
          }
        }
      }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}